:root{
    --light-color : #bafbfd;
    --gradient : linear-gradient(270deg, #38B790, #06f7ff);
}
.fb{
    width: 30px;
    height: 29px;
}
.google{
    width: 34px;
    height: 36px;
}
.linkedin{
    width: 61px;
    height: 32px;
}

#or{
    width: 90%; 
    text-align: center; 
    border-bottom: 1px solid #9a9a9a; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-size: 12px;
 }
 #or span { 
    background:#fff; 
    padding:0 10px; 
}

input{
    border-radius: 20px;
    width:90%;
    border: none;
    background-color:var(--light-color);
}

.sign-in{
    width: 30%;
    border-radius: 20px;
    background: var(--gradient);
    color: white;
}
.sign-in:hover{
    background: white;
    border: 3px double #00dbe3;
    box-shadow: 2px 2px 10px #00dbe3,
    -2px -2px 10px #00dbe3;
    color:#00dbe3;
}
.sign-up{
    background-color: white;
    width: 60%;
    border-radius: 25px;
}
.main-login{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 39px;
}
.sec-col-heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.sec-col{
    background: var(--gradient);
    /* height: 90vh; */
}
.first-col,.sec-col{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.highlight{
    color: #00dbe3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.first-col:hover{
    filter: flip;
}